
<div class="row justify-content-md-center">
  <h1>Gestión de Usuarios </h1>
</div>

<br>
<br>
<div class="row justify-content-md-center">
    <%= link_to "Registrar un nuevo Usuario", new_administrador_user_path, class: "btn btn-dark"  %>
    <%= link_to "Estadísticas", '#{admin_stadistic_path}', class: "btn btn-warning"  %>
</div>

<br>
<br>

<div class="row justify-content-md-center">
  <div class="col-6">
    <h5>Lista de Usuarios</h5>
    <table class="table table-striped">
      <thead class="thead-dark">
      <tr>
        <th>Email</th>
        <th>Fecha Ingreso</th>
        <th>Administrador</th>
        <th colspan="3">Accion</th>
      </tr>
      </thead>

      <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.email %></td>
          <td><%= user.created_at %></td>
          <td><%= user.administrador %></td>
          <td>
            <%= link_to "Detalle", administrador_user_path(user.id) %>
            <%= link_to "Editar", edit_administrador_user_path(user) %>
            <%= link_to "Borrar", administrador_user_path(user), method: :delete, data: { confirm: "Estas seguro?"}  %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="row justify-content-md-center">
    <h6><%= link_to "Volver", root_path, class: "btn btn-primary"  %></h6>
</div>

