<!--Listado de noticias-->
<!--ver una noticia en particular-->
<!--Paso 13-->

<h1>TFC Smart</h1>
<h5>ESFOT-EPN</h5>

<table class="table table-striped">
  <thead class="thead-dark">
  <tr>
    <th>Noticia</th>
    <th>Descripcion Corta</th>
    <th colspan="3">Descripcion Larga</th>
  </tr>
  </thead>

  <tbody>
  <% @notices.each do |noticia| %>
    <tr>
      <td><%= noticia.titulo %></td>
      <td><%= noticia.descripcion_corta %></td>
      <td><%= noticia.descripcion_larga %></td>
      <td>
        <%= link_to "detalle", admin_notice_path(noticia.id) %>
        <%= link_to "editar", edit_admin_notice_path(noticia) %>
        <%= link_to "borrar", admin_notice_path(noticia), method: :delete, data: { confirmar: "Estas seguro?"} %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<h4>Agregar otra noticias: <%= link_to "nuevo", new_admin_notice_path %> </h4>


