<h1>Visitas: </h1>

<div class="row">
  <% @visit.each do |visit| %>
  <div class="col-3">
    <div class="card border-success mb-3" style="max-width: 18rem;">
      <div class="card-header bg-transparent border-success">Fecha: <%= visit.created_at %></div>
      <div class="card-body text-secondary">
        <h5 class="card-title"><%= visit.motive %></h5>
        <p class="card-text"><%= visit.diagnostic %></p>

        <%= link_to "editar", '#{edit_patient_visit_path}', class: "btn btn-warning" %>
        <%= link_to "borrar", 'patient_visit_path(visit)', class: "btn btn-danger" , method: :delete , data: { confirma: "Estas seguro?"}%>

      </div>
      <div class="card-footer bg-transparent border-success">Doctor: Jhonathan Perez</div>
    </div>
  </div>
  <% end %>
</div>


<%= link_to 'Nueva', '#{new_patient_visit_path}', class: "btn btn-primary" %>
<%= link_to "volver", room_path, class: "btn btn-light" %>

